[user]
	name   = sunjayc
	email  = sunjayc@cs.washington.edu
[color]
	diff = auto
	ui = auto
[log]
	date = local
[blame]
	date = local
[alias]
	graph = log --decorate --all --graph
	sb = status -sb
[push]
	default = simple
