#[user]
#	name   = sunjayc
#	email  = sunjayc@cs.washington.edu
[color]
	diff = auto
	ui = auto
[log]
	date = local
[blame]
	date = local
[alias]
	graph = log --decorate --all --graph
	sb = status -sb
[push]
	default = simple
[core]
	excludesfile = /Users/scauligi/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
